<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.nus.iss.team12.ssis.team12_ssis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InventoryListActivity" />
        <activity android:name=".InventoryDetailActivity" />
        <activity android:name=".InventoryRetrievalListActivity" />
        <activity android:name=".CollectionListActivity" />
        <activity android:name=".ViewDisbursementFormActivity" />
        <activity android:name=".AcknowledgeBySignatureActivity" />
        <activity android:name=".AcknowledgeByPin" />
        <activity android:name=".ViewRequisitionFormListActivity" />
        <activity android:name=".ViewRequisitionFormDetailsActivity" />
        <activity android:name=".EmployeeRequisitionHistoryActivity" />
        <activity android:name=".StockCardActivity" />
        <activity android:name=".AdjustmentVoucherActivity" />
        <activity android:name=".DisbursementListActivity"></activity>
    </application>

</manifest>